/*********** GLOBAL STYLES ***********/
* {
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */
html {
  font-size: 16px;
  height: 100vh;
  overflow: auto;
}

/* body defaults */
body {
  align-items: center;
  background-color: #674BB1;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: auto;
}

/* global resets */
html,
body,
h1,
h2,
p,
button,
ul {
  margin: 0;
  padding: 0;
  border: none;
}

/******** GLOBAL STYLES ********/
.page-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

/******** FOR MOBILE FIRST DESIGN ********/
@media(min-width: 360px) {
  body {
    background-image: url("images/bg-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px 38px 0;
  }

  .header-img {
    width: 125px;
    transition: width 500ms;
  }

  .hero-section {
    align-self: center;
    justify-self: center;
    margin-top: 50px;
  }

  .hero-img {
    width: 100%;
  }

  .mission-statement {
    display: grid;
    margin-top: 52px;
    text-align: center;
  }

  .mission-statement h1 {
    color: #FFFFFF;
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: .02rem;
  }

  .mission-statement p {
    color: #FFFFFF;
    line-height: 1.4rem;
    margin-top: 18px;
    font-size: .93rem;
    font-weight: 400;
  }

  .statement-wrapper {
    justify-self: center;
    width: 282px;
  }

  .action-button,
  .action-button:visited {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 10px 0 rgba(0, 0, 0, 0.40);
    border-radius: 20px;
    color: #6E5F99;
    height: 39px;
    margin-top: 28px;
    transition: background-color 150ms;
    transition: box-shadow 100ms;
    width: 192px;
  }

  .action-button:hover {
    box-shadow: none;
    background-color: #bfbfbf;
    cursor: pointer;
  }

  .social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
  }

  .social-list li:nth-child(2) {
    margin: 0 12px;
  }

  .social-link {
    color: #FFFFFF;
    height: 1.8rem;
  }

  .footer {
    margin: 50px 0 0;
  }

  .footer p {
    margin-top: 20px;
  }
}

/******** TABLET SCREENS ********/
@media(min-width: 576px) {
  .header-img {
    width: 150px;
  }

  .statement-wrapper {
    width: 362px;
  }
}

@media(min-width: 768px) {
  body {
    background-size: cover;
  }

  .header-img {
    width: 200px;
  }

  .statement-wrapper {
    width: 612px;
  }

  .mission-statement h1 {
    font-size: 1.8rem;
  }

  .mission-statement p {
    font-size: 1rem;
  }

  .action-button {
    border-radius: 40px;
    font-size: 1rem;
    height: 50px;
  }

  .social-link {
    height: 2.2rem;
  }
}

/******** DESKTOP SCREENS ********/
@media(min-width: 1216px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    padding: 25px 0 0;
  }

  .page-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-rows: auto auto auto;
    grid-template-columns: minmax(589px, auto) auto;
    height: inherit;
    overflow: auto;
    width: 95%;
  }

  .header {
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .hero-section {
    justify-self: stretch;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 7%;
  }

  .mission-statement {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: start;
    text-align: left;
  }

  .statement-wrapper {
    width: 512px;
    margin-top: 38px;
  }

  .mission-statement h1 {
    font-size: 2.2rem;
    line-height: 3.2rem;
    width: 412px;
  }

  .mission-statement p {
    font-size: 1.125rem;
    line-height: 1.6rem;
  }

  .footer {
    align-self: flex-end;
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .social-list {
    justify-self: end;
    margin-right: 52px;
  }
}
